<div class="col-sm-12">
  <div class="form-row">
    <div class="col-sm-5">
      <div class="form-group">
        <label for="startYear">Start Year</label>
        <input type="text" class="form-control" name="startYear" id="startYear">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="stitle">(or)</label>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label for="endYear">End Year</label>
        <input type="text" class="form-control" name="endYear" id="endYear">
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <owl-date-time-inline [(ngModel)]="selectedMoment" [pickerType]="'calendar'" #dt3></owl-date-time-inline>
</div>