<h4 class="h3-style">When is the session happening...</h4>
<form #payload="ngForm" (ngSubmit)=saveCalender(payload)>
    <div class="form-group mar-bot-10">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 mar-bot-10" *ngFor="let s of dsession">
                    <label class="radio-inline checkcontainer">
                        <input type="radio" [(ngModel)]="session_type_id" [name]="session_type_id" [id]="s.id" [value]="s.id"
                            (change)="handleChange($event)"> {{s.name}}
                        <span class="radiobtn"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <app-onetimecalender *ngIf="session_type_name === 'One Time'" (dateChanged)="dateChangedHandler($event)"></app-onetimecalender>

    <app-everyday *ngIf="session_type_name === 'Everyday'" (dateChanged)="everyDateChangedHandler($event)"></app-everyday>

    <app-weekly *ngIf="session_type_name === 'Weekly'" (weeklyCalendarChanged)="weeklyCalendarChangedHandler($event)"></app-weekly>

    <app-byweekly *ngIf="session_type_name === 'Bi-weekly'" (biWeeklyCalendarChanged)="biWeeklyCalendarChangedHandler($event)"></app-byweekly>

    <app-monthly *ngIf="
    session_type_name==='Monthly'" (monthlyCalendarChanged)=" monthlyCalendarChangeHandler($event)">
    </app-monthly>

    <app-quarterly *ngIf="session_type_name === 'Quarterly'" (dateChanged)="quarterlyDateChangedHandler($event)"></app-quarterly>
    <div [hidden]="quartValidation" style="color: red">please select month value</div>
    <app-halfyearly *ngIf="session_type_name === 'Half Yearly'" (dateChanged)="halfYearlyDateChangedHandler($event)"></app-halfyearly>
    <div [hidden]="halfValidation" style="color: red">please select month value</div>
    <app-annually *ngIf="session_type_name === 'Annually'" (annuallyCalendarChanged)="annuallyCalendarChangeHandler($event)"></app-annually>

    <div class="mar-bot-20"></div>

    <h5>Start Time & End Time</h5>
    <div class="form-row">
        <div class="col-md-5 col-sm-12">
            <div class="form-group">
                <timepicker [(ngModel)]="start_time" name="start_time" id="start_time"></timepicker>
            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="form-group">
                <timepicker [(ngModel)]="end_time" name="end_time" id="end_time"></timepicker>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-style" value="ADD 1 MORE">
            </div>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="dateValidationFlag">{{mainErrorMsg}}</div>


    <h4>Responsive Object: </h4>
    {{message}}
    <div class="mar-bot-40"></div>
</form>