<div class="row justify-content-md-center remove-bcolor">
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-5 col-form-label"><strong>No. of days</strong></label>
    <div class="col-sm-5 pad-left">

      <input type="text" class="form-control input-style" [(ngModel)]="noOfDays" (keypress)="numberOfDays($event)"
        (keyup)="numberOfDays($event)" (keydown)="numberOfDays($event)">
    </div>
  </div>
</div>
<div class="remove-arrow mar-bot-20"></div>
<owl-date-time-inline class="date-center" [disabled]="validationFlag" [(ngModel)]="dateTimeRange" [selectMode]="'range'"
  [pickerType]="'calendar'" #dt3 (click)="handleChange($event)"></owl-date-time-inline>