<div class="form-row">
  <div class="form-group">
    <input type="text" [(ngModel)]="noOfDays" (focus)="numberofDays($event)">
    <label for="">Date Time:</label>
    <owl-date-time-inline [(ngModel)]="dateTimeRange" [selectMode]="'range'" [pickerType]="'calendar'" #dt3 (click)="handleChange($event)"></owl-date-time-inline>

    <!-- <input placeholder="Date Time Range:"
               [style.width]="'350px'"
               
               
               [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1">
        <owl-date-time #dtRange1></owl-date-time> -->
  </div>
</div>
