<div class="col-sm-6">
  <div class="form-group">
    <label for="startdate">Select Start Date</label>
    <input type="text" class="form-control" (focus)="handleChange($event)" [(ngModel)]="startDate" [owlDateTimeTrigger]="dt"
      [owlDateTime]="dt" placeholder="DD-MM-YYYY">
    <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
    <label for="enddate">Select End Date</label>
    <input type="text" class="form-control" [(ngModel)]="endDate" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
      (focus)="handleChange($event)" placeholder="DD-MM-YYYY">
    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
    <input class="form-check-input" type="checkbox" id="weekendholidays" value="1" [checked]="saveUsername" (click)="onWeekdaysChange($event)"
      [(ngModel)]="weeksDays">
    <!-- value="1" [checked]="saveUsername" (change)="saveDates($event)" (change)="saveUsername = !saveUsername" > -->

    <label class="form-check-label" for="weekendholidays"> Exceprt Weekends (2 Days)</label>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
    <input class="form-check-input" type="checkbox" id="publicholidays" value="2" (click)="onGovHolidaysChange($event)"
      [(ngModel)]="govholiyDays">
    <label class="form-check-label" for="publicholidays"> Except Government Holidays (2 days)</label>
  </div>
</div>

<!-- {{ startdate }}
{{enddate}}


{{weekendholidays}}
{{publicholidays}} -->