/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";

.remove-arrow .owl-dt-control-arrow-button .owl-dt-control-button-content{
    display: none !important;
}
.col-form-label{
    padding-right: 0px !important;
}
.pad-left{
    padding-left: 0px !important;
}
/* .mothly-input{
    border-radius: 25px !important;
    box-shadow: 0 .125rem .50rem rgba(0,0,0,0.2)!important; 
} */

.input-style{
    border-radius: 25px !important;
    box-shadow: 0 .125rem .50rem #ffd902!important; 
}

.remove-bcolor .form-control{
    border: 1px solid #ced4da0f !important;
    text-align: center !important;
    font-size: 20px !important;
    font-weight: 600 !important;
}

.mar-bot-10{
    margin-bottom: 10px;
}

.mar-bot-20{
    margin-bottom: 20px;
}

.mar-bot-40{
    margin-bottom: 60px;
}

.p-text-center{
    text-align: center;
    margin-top: 7px;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected{
    background-color: #ffd902 !important;
}
.owl-dt-inline-container{
    width: 60%;
}
.owl-dt-inline-container .owl-dt-calendar, .owl-dt-popup-container .owl-dt-calendar{
    height: auto !important;
}

.owl-dt-inline-container, .owl-dt-popup-container {
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
}

input[type=checkbox], input[type=radio]{
    margin-right: 10px;
}

.checkcontainer input:checked ~ .checkmark {
    background-color: #ffffff;
}

.checkcontainer input:checked ~ .checkmark::after {
    display: block;
}

.checkcontainer .checkmark::after {
    left: 7px;
    top: 3px;
    width: 7px;
    height: 12px;
    border: solid #ffd902;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark {
    position: absolute;
    top: 0;
    left: 5px;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    box-shadow: 0 .125rem .50rem rgba(0,0,0,0.2)!important; 
}

.change-top-left{
    top: 2px !important;
    left: -12px !important;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
